<h1><%= t '.Login' %> </h1>
<% if @session.errors.has_key? :base %>
<div id="error_explanation">
<%= @session.errors[:base].join(', ') %>
</div>
<% end %>
<%= form_for @session do |f| %>
<p>
<%= f.label :email %>
<%= f.text_field :email %>

</p>

<p>
<%= f.label :password %>
<%= f.text_field :password %>

</p>

<p>
<%= f.submit %>
</p>
<% end %>
<p><%= link_to t('.sign_up'), new_user_path %></p>
